name: Run cypress tests

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]
        mongodb-version: [5.0, 6.0, 7.0, 8.0]

    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Start MongoDB ${{ matrix.mongodb-version }}
        uses: supercharge/mongodb-github-action@1.12.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - working-directory: .
        run: npm install
      - working-directory: .
        run: npm run build
      - working-directory: .
        run: npm test
        env:
          CI: true
